<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../static/css/summary.css">
    <script src="../../static/js/summary.js"></script>
</head>
<body>
    <h1>The generation of the summary of a policy:</h1>

    <div class="row">
        <div class="column">
        <h2>Summary</h2>
            <textarea id="w3review" name="w3review" rows="20" cols="120" onkeyup ="summary_change()">{{ policy.description }}</textarea>
        </div>
        <div class="column">
            <h2>Original Policy(Policy Id: {{ policy.policy_id }})</h2>
            <div class="ex2" id="summary">
                {% for items in policy.highlighted_text %}
                    {% if items[1] %}
<span style="background-color: #FFFF00"> {{ items[0] }} </span>
                    {% else %} {{ items[0] }} {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if has_summary %}
        <button id="save_summary" class="btn btn-outline-primary" onclick="save_summary('{{ policy.policy_id }}')" disabled=true>Save</button>
    {% else %}
        <button id="save_summary" class="btn btn-outline-primary" onclick="save_summary('{{ policy.policy_id }}')">Save</button>
    {% endif %}

    <button id="btn_reload" onclick="reload_summary('{{ policy.policy_id }}', '{{ policy.description }}')">Reload Summary</button>
    <button id="next">
        <a href="{{ url_for('annotation.get_annotation', policy_id=policy.policy_id) }}"
            class="btn btn-outline-primary"
            role="button">Go to annotation</a>
    </button>
</body>
</html>
